@font-face{font-family:'Reem Kufi';font-weight:500;src:url(fonts/reem-kufi-arabic-500-normal.woff2)}
@font-face{font-family:'Reem Kufi';font-weight:700;src:url(fonts/reem-kufi-arabic-700-normal.woff2)}
@font-face{font-family:Tajawal;font-weight:400;src:url(fonts/tajawal-arabic-400-normal.woff2)}
@font-face{font-family:Tajawal;font-weight:500;src:url(fonts/tajawal-arabic-500-normal.woff2)}
@font-face{font-family:Tajawal;font-weight:700;src:url(fonts/tajawal-arabic-700-normal.woff2)}
